@{
}

@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="card-header bg-light p-1">
        <h4 data-toggle="collapse" href="#@Model.Title" aria-expanded="true" aria-controls="c">
            @Model.Title
            <span class="badge bg-info" style="float:right"></span>
        </h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Author: @Model.Author</li>
            <li class="list-group-item">Publisher: @Model.Publisher</li>
            <li class="list-group-item">ISBN: @Model.Isbn</li>
            <li class="list-group-item">Classification: @Model.Classification</li>
            <li class="list-group-item">Category: @Model.Category</li>
            <li class="list-group-item">PageCount: @Model.PageCount</li>
            <li class="list-group-item">Price: @Model.Price</li>
        </ul>

        <form method="post" asp-page="/Cart">
            <input type="hidden" asp-for="@Model.BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

            <span class="card-text">
                <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
            </span>
        </form>
    </div>
    
</div>
